---
title: Nova Pilgrim
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <div class="header-container">
        <h1>Nova Pilgrim</h1>
  </div>
  <div class="divider"></div>
  <nav>
    <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/about/" title="About the Pilgrim">About</a></li>
        <li><a href="/blog/post2/" title="Footsteps on Another World">New Post</a></li>
        <li><a href="/blog/post1/" title="A New Earth, Somewhere">Older Post</a></li>
    </ul>
  </nav>
    <div class="{{ class | default: '' }}">
        {{ content }}
    </div>
</body>
</html>